:root {
    --pink:#d800ee;
    --white:#e4e4e4;
    --light-grey:#d4d4d4;
    --grey:#555;
    --dark:#222;
    --black:#000;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    scroll-behavior: smooth;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration:none;
    color:var(--white);
}

a:hover {
    color:var(--pink);
}

p {
    margin:0;
    padding:5px 0;
}

ul {
    list-style: none;
}

h1 {
    font-size:4rem;
}

h2 {
    font-size:2rem;
}

h3 {
    font-size: 1.5rem;
}

img {
    width:100%;
    display:block;
}

/*NAV*/

#banner {
    background:#000;
    position:fixed;
    top:0;
    z-index:1;
    width:100%;
    padding:20px;
    border-bottom:2px solid var(--pink);
}

nav {
    display:flex;
    justify-content:center;
}

nav a {
    color:var(--light-grey);
    font-size:1.7rem;
    margin-right:20px;
}

/*WELCOME*/

#welcome-section {
    height:100vh;
    text-align:center;
    padding-top:40vh;
    background:var(--dark);
    color:var(--light-grey);
}

.welcome-header {
    padding:20px;
}

#welcome-section h2 {
    color:var(--pink);
    margin-top:20px;
}

/*SKILLZ*/

#skills {
    max-width:1100px;
    margin:auto;
    margin-top:-40px;
    border-top:40px solid transparent;
    padding:50px;
    text-align:center;
}

#skills h2 {
    padding-bottom:20px;
}

.skills-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:2rem;
    justify-items:center;
}

i {
    margin-right: 10px;
}

.skills hr {
    margin-bottom:10px;
}

.skills p {
    font-size: 1.2rem;
}

#software-skills img {
    width:12rem;
}

#software-skills img:hover {
    background-color:var(--light-grey);
}

.fa-html5 {
    color:rgb(236, 81, 19);
}

.fa-css3-alt {
    color:rgb(87, 147, 226);
}

.fa-js-square {
    color:yellow;
    background:var(--dark);
    padding:0 3px 0 2px;
    border-radius:.5rem;
}

.fa-git-square {
    color:red;
}

/*WORK*/
#projects {
    padding:50px;
    background:var(--light-grey);
    text-align:center;
    margin-top:-40px;
    border-top:40px solid transparent;
}

#projects h2 {
    padding-bottom:20px;
}

.projects-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:4rem;
    max-width:1100px;
    margin:auto;
}

.projects-grid img {
    object-fit:cover;
    height:auto;
}

.projects-grid p {
    padding:20px;
    font-size:1.4rem;
    font-weight:bold;
    background:var(--dark);
}

/*CONTACT*/

#contact {
    background:var(--dark);
    padding:50px;
    text-align:center;
    margin-top:-40px;
    border-top:40px solid transparent;
}

.contact-header {
    padding-bottom:20px;
    color:var(--light-grey);
}

.contact-links {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    justify-items:center;
    align-items:baseline;
    grid-gap:1rem;
}

.contact-links p {
    font-size:1.2rem;
}

/*FOOTER*/

footer {
    font-size:1.2rem;
    padding:1rem;
    background:var(--black);
    color:var(--light-grey);
    border-top:2px solid var(--pink);
    text-align:center;
}

@media only screen and (max-width:980px) {
    html {
        font-size:.8em;
    }
}

@media only screen and (max-width:500px) {
    h1 {
        font-size:3rem;
    }
}
